USE [master]
GO
/****** Object:  Database [Pekarnya]    Script Date: 19.09.2021 17:15:30 ******/
CREATE DATABASE [Pekarnya]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Pekarnya', FILENAME = N'D:\games\microsoft_sql\server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pekarnya.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Pekarnya_log', FILENAME = N'D:\games\microsoft_sql\server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Pekarnya_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Pekarnya].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Pekarnya]
GO
/****** Object:  Table [dbo].[ElementGoods]    Script Date: 19.09.2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElementGoods](
	[idElement] [int] IDENTITY(1,1) NOT NULL,
	[idGoods] [int] NOT NULL,
	[idIngridients] [int] NOT NULL,
 CONSTRAINT [PK_ElementGoods] PRIMARY KEY CLUSTERED 
(
	[idElement] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Goods]    Script Date: 19.09.2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Goods](
	[idGoods] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Quantity] [float] NOT NULL,
	[idUnit] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[idUnitMoney] [int] NOT NULL,
 CONSTRAINT [PK_Goods] PRIMARY KEY CLUSTERED 
(
	[idGoods] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Goods] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingridients]    Script Date: 19.09.2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingridients](
	[idIngridients] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Quantity] [float] NOT NULL,
	[Unit] [int] NOT NULL,
	[idProvider] [int] NOT NULL,
	[idUnitMoney] [int] NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_ingridients] PRIMARY KEY CLUSTERED 
(
	[idIngridients] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ingridients] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 19.09.2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[idProvider] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](200) NOT NULL,
	[Email] [varchar](200) NULL,
	[Phone] [varchar](50) NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[idProvider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Provider] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Provider_1] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_Provider_2] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitMoney]    Script Date: 19.09.2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitMoney](
	[idUnit] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UnitMoney] PRIMARY KEY CLUSTERED 
(
	[idUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Units]    Script Date: 19.09.2021 17:15:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Units](
	[idUnit] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Units] PRIMARY KEY CLUSTERED 
(
	[idUnit] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ElementGoods]  WITH CHECK ADD  CONSTRAINT [FK_ElementGoods_Goods] FOREIGN KEY([idGoods])
REFERENCES [dbo].[Goods] ([idGoods])
GO
ALTER TABLE [dbo].[ElementGoods] CHECK CONSTRAINT [FK_ElementGoods_Goods]
GO
ALTER TABLE [dbo].[ElementGoods]  WITH CHECK ADD  CONSTRAINT [FK_ElementGoods_ingridients] FOREIGN KEY([idIngridients])
REFERENCES [dbo].[ingridients] ([idIngridients])
GO
ALTER TABLE [dbo].[ElementGoods] CHECK CONSTRAINT [FK_ElementGoods_ingridients]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_UnitMoney] FOREIGN KEY([idUnitMoney])
REFERENCES [dbo].[UnitMoney] ([idUnit])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_UnitMoney]
GO
ALTER TABLE [dbo].[Goods]  WITH CHECK ADD  CONSTRAINT [FK_Goods_Units] FOREIGN KEY([idUnit])
REFERENCES [dbo].[Units] ([idUnit])
GO
ALTER TABLE [dbo].[Goods] CHECK CONSTRAINT [FK_Goods_Units]
GO
ALTER TABLE [dbo].[ingridients]  WITH CHECK ADD  CONSTRAINT [FK_ingridients_Provider] FOREIGN KEY([idProvider])
REFERENCES [dbo].[Provider] ([idProvider])
GO
ALTER TABLE [dbo].[ingridients] CHECK CONSTRAINT [FK_ingridients_Provider]
GO
ALTER TABLE [dbo].[ingridients]  WITH CHECK ADD  CONSTRAINT [FK_ingridients_UnitMoney] FOREIGN KEY([idUnitMoney])
REFERENCES [dbo].[UnitMoney] ([idUnit])
GO
ALTER TABLE [dbo].[ingridients] CHECK CONSTRAINT [FK_ingridients_UnitMoney]
GO
ALTER TABLE [dbo].[ingridients]  WITH CHECK ADD  CONSTRAINT [FK_ingridients_Units] FOREIGN KEY([Unit])
REFERENCES [dbo].[Units] ([idUnit])
GO
ALTER TABLE [dbo].[ingridients] CHECK CONSTRAINT [FK_ingridients_Units]
GO
USE [master]
GO
